.container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
}

/* Título */
.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* Tabela */
.table {
  border-collapse: separate;
  border-spacing: 0 6px;
}

.table thead th {
  background-color: #007bff;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  padding: 12px;
}

.table tbody tr {
  background: #fafafa;
  border-radius: 6px;
}

.table tbody tr td {
  padding: 14px;
  vertical-align: middle;
  font-size: 15px;
}

/* aumentar coluna ações */
.col-acoes {
  width: 180px;
  text-align: center;
}

/* Botões alinhados lado a lado */
.acoes-btns {
  display: flex;
  gap: 8px;
  justify-content: center;
}

/* Badge de status */
.badge {
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 8px;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-primary {
  background-color: #007bff !important;
}

/* Botões */
.btn-danger {
  background-color: #ff4444;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  
}

.btn-primary {
  background-color: green;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-danger:disabled,
.btn-primary:disabled {
  background-color: #bbbbbb;
}

/* Texto sem reservas */
.text-muted {
  font-style: italic;
  margin-top: 10px;
}
